<div class="container-xl" *ngIf="cartService.getCart().length">
  <div class="row">
    <div class="col-8 py-4 pr-5 shoppping-cart">
      <table class="table table-borderless">
        <thead>
          <tr class="border-bottom">
            <th scope="col"><h2 class="font-weight-bolder">Cart</h2></th>
            <th scope="col"></th>
            <th scope="col">Total</th>
            <th scope="col"></th>
          </tr>
        </thead>
        <tbody>
          <tr *ngFor="let item of cartService.getCart()">
            <td>
              <div class="row align-items-center">
                <div class="col-4 pl-2">
                  <img [src]="item.item.images_list[0]" />
                </div>
                <div class="col-8">
                  <h6>{{ item.item.title | titlecase }}</h6>
                  <p class="font-weight-bold">
                    {{ item.item.price | currency: "USD" }}
                  </p>
                </div>
              </div>
            </td>
            <td>
              <div style="width: 120px">
                <div
                  class="border rounded"
                  style="font-size: 15px"
                  id="add-product"
                >
                  <button
                    (click)="cartService.remove(item.item)"
                    class="btn border-right px-2"
                  >
                    -
                  </button>
                  <input
                    type="text"
                    [value]="cartService.getQuantityItem(item.item.id)"
                    class="input border-0"
                  />
                  <button
                    (click)="cartService.addItem(item.item)"
                    class="btn border-left px-2"
                  >
                    +
                  </button>
                </div>
              </div>
            </td>
            <td>
              <span class="font-weight-bold">{{
                item.item.price * item.quantity | currency: "USD"
              }}</span>
            </td>
            <td>
              <i
                class="fas fa-times"
                style="font-size: 24px"
                (click)="cartService.deleteItem(item)"
              ></i>
            </td>
          </tr>
          <tr class="border-top">
            <h5
              class="text-muted mt-4"
              style="font-size: 18px; cursor: pointer"
              routerLink="/categories"
            >
              CONTINUE SHOPPING
            </h5>
          </tr>
        </tbody>
      </table>
    </div>
    <div class="col-4 bg-light p-5 sumary">
      <h4 class="font-weight-bold">Order Sumary</h4>
      <table class="table table-borderless w-100 mt-4">
        <tbody>
          <tr>
            <td>{{ cartService.getTotalItems() }} items</td>
            <td class="text-right">
              {{ cartService.getTotalPrice() | currency: "USD" }}
            </td>
          </tr>
          <tr>
            <td>Delivery fee</td>
            <td class="text-right">
              {{ cartService.deliveryfee | currency: "USD" }}
            </td>
          </tr>
          <tr>
            <td scope="col"><h5 class="font-weight-bold">Total Cost</h5></td>
            <td scope="col" class="text-right">
              <h5 class="font-weight-bold text-black">
                {{
                  cartService.getTotalPrice() + cartService.deliveryfee
                    | currency: "USD"
                }}
              </h5>
            </td>
          </tr>
        </tbody>
      </table>
      <button
        class="bg-primary gradient px-4 py-2 border-0 text-white w-100"
        routerLink="/checkout"
      >
        PROCESS TO CHECKOUT
      </button>
      <p class="text-muted text-center mt-3">
        Shiping and tax calcualted at Checkout
      </p>
    </div>
  </div>
</div>
<div
  class="container-xl text-center"
  style="height: 60vh"
  *ngIf="!cartService.getCart().length"
>
  <img src="../../../assets/img/noProductInCart.png" alt="" class="mt-5" />
  <p class="my-4">No product in my cart</p>
  <button class="btn btn-primary" routerLink="/categories">
    Continue Shopping
  </button>
</div>
