<div class="container-xl" *ngIf="cartService.getCart().length">
  <table class="table mb-4">
    <thead>
      <tr>
        <th scope="col">Product</th>
        <th scope="col">Price</th>
        <th scope="col">Quantity</th>
        <th scope="col">Total</th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let item of cartService.getCart()">
        <td>
          <div class="row align-items-center">
            <div class="col-4">
              <img [src]="item.item.images_list[0]" />
            </div>
            <div class="col-8">{{ item.item.title }}</div>
          </div>
        </td>
        <td>
          <span class="font-weight-bold">{{
            item.item.price | currency: "USD"
          }}</span>
        </td>
        <td style="width: 120px">
          <div>
            <div
              class="border rounded"
              style="font-size: 15px"
              id="add-product"
            >
              <button
                (click)="cartService.remove(item.item)"
                class="btn border-right px-2"
              >
                -
              </button>
              <input
                type="text"
                [value]="cartService.getQuantityItem(item.item.id)"
                class="input border-0"
              />
              <button
                (click)="cartService.addItem(item.item)"
                class="btn border-left px-2"
              >
                +
              </button>
            </div>
            <!-- <span class="border rounded" style="font-size: 15px">
              <span
                (click)="cartService.remove(item.item)"
                class="border-right px-2"
              >
                <i class="fas fa-minus"></i>
              </span>
              <span class="px-2">{{
                cartService.getQuantityItem(item.item.id)
              }}</span>
              <span
                (click)="cartService.addItem(item.item)"
                class="border-left px-2"
              >
                <i class="fas fa-plus"></i>
              </span>
            </span> -->
          </div>
        </td>
        <td>
          <span class="font-weight-bold">{{
            item.item.price * item.quantity | currency: "USD"
          }}</span>
        </td>
      </tr>
      <tr>
        <td>
          <button
            class="btn btn-secondary rounded-0 px-5 text-white font-weight-bold"
          >
            UPDATE CART
          </button>
        </td>
        <td colspan="3">
          <div class="d-flex align-items-center">
            <input
              type="text"
              class="form-control rounded-0"
              placeholder="Enter Coupon"
            />
            <button
              class="btn btn-primary gradient px-5 rounded-0 text-white font-weight-bold"
            >
              Apply
            </button>
          </div>
        </td>
      </tr>
      <tr>
        <td colspan="1"></td>
        <td><p class="font-weight-bold">Subtotal</p></td>
        <td colspan="2">
          <p class="font-weight-bold">{{ total | currency: "USD" }}</p>
        </td>
      </tr>
      <!-- <tr>
        <td colspan="1"></td>
        <td><p class="font-weight-bold">Shipping</p></td>
        <td colspan="2">
          <ul class="list">
            <li>
              <div class="custom-control custom-radio custom-control-inline">
                <label class="custom-control-label">Flat Rate: $5.00</label>
                <input
                  type="radio"
                  name="customRadioInline"
                  class="custom-control-input"
                />
              </div>
            </li>
            <li>
              <div class="custom-control custom-radio custom-control-inline">
                <label class="custom-control-label">Free Shipping</label>
                <input
                  type="radio"
                  name="customRadioInline"
                  class="custom-control-input"
                />
              </div>
            </li>
            <li>
              <div class="custom-control custom-radio custom-control-inline">
                <label class="custom-control-label">Flat Rate: $10.00</label>
                <input
                  type="radio"
                  name="customRadioInline"
                  class="custom-control-input"
                />
              </div>
            </li>
            <li>
              <div class="custom-control custom-radio custom-control-inline">
                <label class="custom-control-label"
                  >Local Delivery: $2.00</label
                >
                <input
                  type="radio"
                  name="customRadioInline"
                  class="custom-control-input"
                />
              </div>
            </li>
          </ul>
        </td>
      </tr> -->
      <tr>
        <td></td>
        <td colspan="3">
          <div class="d-flex align-items-center float-right">
            <!-- <button
              class="btn btn-secondary rounded gradient px-5 rounded-0 text-white font-weight-bold"
            >
              CONTINUE SHOPPING
            </button> -->
            <button
              class="btn btn-primary rounded gradient px-5 rounded-0 text-white font-weight-bold"
            >
              CHECKOUT
            </button>
          </div>
        </td>
      </tr>
    </tbody>
  </table>
</div>
<div
  class="contaiiner-xl text-center"
  style="height: 60vh"
  *ngIf="!cartService.getCart().length"
>
  <img src="../../../assets/img/noProductInCart.png" alt="" class="mt-5" />
  <p class="my-4">No product in my cart</p>
  <button class="btn btn-primary" routerLink="/categories">
    Continue Shopping
  </button>
</div>
