img {
  max-width: 150px;
  object-fit: cover;
}
td {
  padding-top: 30px;
  padding-bottom: 30px;
  vertical-align: middle;
  align-self: center;
}
.list {
  list-style: none;
  margin: 0px;
  padding: 0px;
}
