<div class="bg-secondary p-5 mt-5">
  <div class="container my-3">
    <div class="row">
      <div class="col-xl-3 col-md-6 col-sm-12">
        <h5 class="text-white font-weight-bolder my-3">About Us</h5>
        <p class="text-white" style="opacity: 0.6">
          Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do
          eiusmod tempor incididunt ut labore dolore magna aliqua.
        </p>
      </div>
      <div class="col-xl-4 col-md-6 col-sm-12">
        <h5 class="text-white font-weight-bolder my-3">Newsletter</h5>
        <p class="text-white" style="opacity: 0.6">
          Stay update with our latest
        </p>
        <div class="input-group">
          <input
            type="text"
            class="form-control"
            placeholder="Enter email ..."
          />
          <div class="input-group-prepend">
            <div class="input-group-text rounded-right gradient">
              <i class="fas fa-arrow-right text-white"></i>
            </div>
          </div>
        </div>
      </div>
      <div class="col-xl-3 col-md-6 col-sm-12">
        <h5 class="text-white font-weight-bolder my-3">Instagram Feed</h5>
        <ul class="d-flex flex-wrap p-0">
          <li>
            <img
              src="../../../assets/img/xi1.jpg.pagespeed.ic.jfLZK-H-XF.webp"
              alt=""
            />
          </li>
          <li>
            <img
              src="../../../assets/img/xi4.jpg.pagespeed.ic.RlyWl7MZsa.webp"
              alt=""
            />
          </li>
          <li>
            <img
              src="../../../assets/img/xi5.jpg.pagespeed.ic.EEPJ2CxYEb.webp"
              alt=""
            />
          </li>
          <li>
            <img
              src="../../../assets/img/xi6.jpg.pagespeed.ic.eP8-siz_Gr.webp"
              alt=""
            />
          </li>
          <li>
            <img
              src="../../../assets/img/xi7.jpg.pagespeed.ic.tCrquJ1b2e.webp"
              alt=""
            />
          </li>
          <li>
            <img
              src="../../../assets/img/xi8.jpg.pagespeed.ic.k_7KLaTiSo.webp"
              alt=""
            />
          </li>
        </ul>
      </div>
      <div class="col-xl-2 col-md-6 col-sm-12">
        <h5 class="text-white font-weight-bolder my-3">Follow Us</h5>
        <p class="text-white" style="opacity: 0.6">Let us be social</p>
        <div class="row">
          <div class="col"><i class="fab fa-facebook-f text-muted"></i></div>
          <div class="col"><i class="fab fa-twitter text-muted"></i></div>
          <div class="col"><i class="fab fa-instagram text-muted"></i></div>
          <div class="col"><i class="fab fa-behance text-muted"></i></div>
        </div>
      </div>
    </div>
    <p class="text-white text-center my-3" style="opacity: 0.6">
      Copyright &#169;2022 All rights reserved | This template is made with
      <i class="fas fa-heart text-primary px-1"></i> by
      <span class="text-primary">NhatTV9 NgaHT10 </span>
    </p>
  </div>
</div>
