<div class="bg-white shadow">
  <div class="container-xl">
    <nav class="navbar navbar-expand-md navbar-light">
      <a class="navbar-brand" routerLink="/home">
        <img src="../../../assets/img/brand.webp" />
      </a>
      <button
        class="navbar-toggler"
        type="button"
        (click)="iconNavClick()"
        [ngClass]="{ collapsed: checkNav }"
      >
        <span class="navbar-toggler-icon"></span>
      </button>

      <div
        class="collapse navbar-collapse"
        id="nav-bar"
        [ngClass]="{ show: checkNav }"
      >
        <ul class="navbar-nav ml-auto align-items-lg-center align-items-end">
          <li class="nav-item my-auto">
            <div class="searchBox d-flex justify-content-end">
              <button class="searchButton">
                <i class="fas fa-search"></i>
              </button>
              <input
                class="searchInput"
                type="text"
                name=""
                [formControl]="search"
                placeholder="Search"
              />
              <div
                class="dropdown-menu px-3"
                id="dropdown-menu"
                *ngIf="showDropdown"
                [class.show]="showDropdown"
              >
                <div *ngFor="let item of productSearch; let i = index">
                  <div
                    class="row"
                    *ngIf="i < 10"
                    routerLink="/productDetail/{{ item['id'] }}"
                    (click)="iconNavClick()"
                  >
                    <div class="col-4">
                      <img
                        class="deal-img"
                        [src]="item.images_list[0]"
                        alt=""
                      />
                    </div>
                    <div class="col-8">
                      <p class="text-uppercase mt-3" id="title1">
                        {{ item.title | textcustom: 15 }}
                      </p>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </li>
          <li class="nav-item" (click)="iconNavClick()">
            <a
              class="nav-link"
              routerLink="/home"
              routerLinkActive="active"
              (click)="iconNavClick()"
              >Home</a
            >
          </li>
          <li class="nav-item" ngbDropdown>
            <a href (click)="(false)" class="nav-link" ngbDropdownToggle
              >Shop</a
            >
            <div ngbDropdownMenu id="drop-down" class="shadow">
              <button
                ngbDropdownItem
                class="py-2"
                routerLink="/categories"
                (click)="iconNavClick()"
              >
                Shop Category
              </button>
              <button
                ngbDropdownItem
                class="py-2"
                routerLink="/checkout"
                (click)="iconNavClick()"
              >
                Product checkout
              </button>
              <button
                ngbDropdownItem
                class="py-2"
                routerLink="/order-list"
                (click)="iconNavClick()"
              >
                Your orders
              </button>
            </div>
          </li>
          <li class="nav-item" routerLink="/contact" (click)="iconNavClick()">
            <a class="nav-link">contact</a>
          </li>

          <!-- cart -->
          <li class="nav-item" (click)="iconNavClick()">
            <span
              class="nav-link cart"
              routerLink="shopping-cart"
              [attr.data-totalitems]="cartService.getTotalItems()"
              ><i class="fas fa-shopping-cart" style="font-size: 16px"></i
            ></span>
            <span
              class="nav-link cart1"
              routerLink="shopping-cart"
              style="padding-bottom: 0px"
              ><i class="fas fa-shopping-cart" style="font-size: 16px"></i
            ></span>
          </li>
          <li class="nav-item">
            <a
              class="nav-link"
              routerLink="/login"
              routerLinkActive="active"
              *ngIf="!authService.isLogin(); else elseBlock"
              >Login</a
            >
            <ng-template #elseBlock>
              <div class="nav-item" ngbDropdown>
                <a
                  (click)="(false)"
                  class="nav-link"
                  style="font-size: 14px"
                  ngbDropdownToggle
                  ><i class="fas fa-user"></i
                ></a>
                <div
                  ngbDropdownMenu
                  id="drop-down"
                  class="shadow"
                  style="right: 0; left: auto"
                >
                  <button
                    ngbDropdownItem
                    class="py-2"
                    (click)="onLogout()"
                    (click)="iconNavClick()"
                  >
                    Logout
                  </button>
                </div>
              </div>
            </ng-template>
          </li>
        </ul>
      </div>
    </nav>
  </div>
</div>
