<div class="bg-white">
  <div class="container-xl">
    <nav class="navbar navbar-expand-lg navbar-light">
      <a class="navbar-brand" href="#">
        <img src="../../../assets/img/brand.webp" />
      </a>

      <div class="collapse navbar-collapse" id="nav-bar">
        <ul class="navbar-nav ml-auto">
          <li class="nav-item">
            <a class="nav-link" routerLink="/home" routerLinkActive="active"
              >Home</a
            >
          </li>
          <li class="nav-item">
            <a
              class="nav-link"
              routerLink="/categories"
              routerLinkActive="active"
              >Shop</a
            >
          </li>
          <li class="nav-item" ngbDropdown>
            <a href (click)="(false)" class="nav-link" ngbDropdownToggle
              >Blog</a
            >
            <div ngbDropdownMenu id="drop-down">
              <button ngbDropdownItem class="py-2">Blog</button>
              <button ngbDropdownItem class="py-2">Blog Details</button>
            </div>
          </li>
          <li class="nav-item" routerLink="/contact">
            <a class="nav-link">contact</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" routerLink="/login" routerLinkActive="active"
              >Login</a
            >
          </li>

          <li class="nav-item">
            <a class="nav-link" href="#"
              ><i class="fas fa-shopping-cart"></i
            ></a>
          </li>
          <li class="nav-item my-auto">
            <div class="searchBox">
              <input
                class="searchInput"
                type="text"
                name=""
                placeholder="Search"
              />
              <button class="searchButton">
                <i class="fas fa-search"></i>
              </button>
            </div>
          </li>
        </ul>
      </div>
    </nav>
  </div>
</div>
