.deal-img {
  max-width: 100%;
  max-height: 100%;
  object-fit: contain;
}
.deal * {
  font-size: 12px;
}
.shadow1 {
  box-shadow: none;
  transition: 0.5s;
}
.shadow1:hover {
  transform: translate(2px, 4px);
  box-shadow: 0 0.5rem 1rem rgb(0 0 0 / 50%);
}
