<div class="my-50">
  <div class="w-md-75 w-100 px-md-0 px-3 text-center mx-auto my-5">
    <h5 class="text-uppercase font-weight-bold">deal of the week</h5>
    <p>Versatile sportswear. The Naomi Osaka Capsule Collection</p>
  </div>

  <div class="row deal">
    <div class="col-0 d-none col-lg-3 d-lg-block">
      <img
        class="deal-img"
        src="../../../assets/img/deal-of-the-week.webp"
        alt=""
      />
    </div>
    <div class="col-12 col-lg-9">
      <div class="row">
        <div class="col-4 my-3" *ngFor="let item of productDeal">
          <div
            class="row d-flex flex-md-row flex-column shadow1 p-2"
            routerLink="/productDetail/{{ item['id'] }}"
          >
            <div class="col-lg-4 col-md-6 mb-auto">
              <img class="deal-img" [src]="item.images_list[0]" alt="" />
            </div>
            <div class="col-8">
              <p class="text-uppercase mt-3" id="title1">
                {{ item.title | textcustom: 15 }}
              </p>
              <p class="text-center">{{ item.price | currency: "USD" }}</p>
              <p *ngIf="!item.price">£161.63 - £202.04</p>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
