<div class="container">
  <h5 class="text-success text-center">
    Thank you. Your order has been received.
  </h5>
  <div class="row mt-5">
    <div class="col mx-3">
      <h5>Order Info</h5>
      <div class="row border-top">
        <ul class="col text-muted">
          <li>Order number</li>
          <li>Date</li>
          <li>Total</li>
          <li>Payment method</li>
        </ul>
        <ul class="col">
          <li>: 60235</li>
          <li>: Los Angeles</li>
          <li>: USD 2210</li>
          <li>: Check payments</li>
        </ul>
      </div>
    </div>
    <div class="col mx-3">
      <h5>Billing Address</h5>
      <div class="row border-top">
        <ul class="col text-muted">
          <li>Street</li>
          <li>City</li>
          <li>Country</li>
          <li>Postcode</li>
        </ul>
        <ul class="col">
          <li>: 56/8</li>
          <li>: Los Angeles</li>
          <li>: United States</li>
          <li>: 36952</li>
        </ul>
      </div>
    </div>
    <div class="col">
      <h5>Shipping Address</h5>
      <div class="row border-top">
        <ul class="col text-muted">
          <li>Street</li>
          <li>City</li>
          <li>Country</li>
          <li>Postcode</li>
        </ul>
        <ul class="col">
          <li>: 56/8</li>
          <li>: Los Angeles</li>
          <li>: United States</li>
          <li>: 36952</li>
        </ul>
      </div>
    </div>
  </div>
  <div class="my-5 bg-light p-4">
    <h5 class="font-weight-bold mb-4">Order Details</h5>
    <div class="table-responsive">
      <table class="table">
        <thead>
          <tr>
            <th scope="col">Product</th>
            <th scope="col">Quantity</th>
            <th scope="col">Total</th>
          </tr>
        </thead>
        <tbody>
          <tr>
            <td>
              <p>Pixelstore fresh Blackberry</p>
            </td>
            <td>
              <h6>x 02</h6>
            </td>
            <td>
              <p>$720.00</p>
            </td>
          </tr>
          <tr>
            <td>
              <p>Pixelstore fresh Blackberry</p>
            </td>
            <td>
              <h6>x 02</h6>
            </td>
            <td>
              <p>$720.00</p>
            </td>
          </tr>
          <tr>
            <td>
              <p>Pixelstore fresh Blackberry</p>
            </td>
            <td>
              <h6>x 02</h6>
            </td>
            <td>
              <p>$720.00</p>
            </td>
          </tr>
          <tr>
            <td>
              <h6 class="font-weight-bold">Subtotal</h6>
            </td>
            <td>
              <h6></h6>
            </td>
            <td>
              <p>$2160.00</p>
            </td>
          </tr>
          <tr>
            <td>
              <h6 class="font-weight-bold">Shipping</h6>
            </td>
            <td>
              <h6></h6>
            </td>
            <td>
              <p>Flat rate: $50.00</p>
            </td>
          </tr>
          <tr>
            <td>
              <h6 class="font-weight-bold">Total</h6>
            </td>
            <td>
              <h6></h6>
            </td>
            <td>
              <p>$2210.00</p>
            </td>
          </tr>
        </tbody>
      </table>
    </div>
  </div>
</div>
