<div class="container">
  <h5 class="text-success text-center">
    Thank you. Your order has been received.
  </h5>
  <div class="row mt-5">
    <div class="col mx-3">
      <h5>Order Info</h5>
      <div class="row border-top">
        <ul class="col text-muted">
          <li>Order number</li>
          <li>Date</li>
          <li>Total</li>
          <li>Payment method</li>
        </ul>
        <ul class="col">
          <li>: {{ order.id }}</li>
          <li>: {{ order.date | date: "dd/MM/yyyy" }}</li>
          <li>: USD {{ order.totalPrice }}</li>
          <li>: {{ order.paymentMethod | titlecase }}</li>
        </ul>
      </div>
    </div>
    <div class="col mx-3">
      <h5>Billing Address</h5>
      <div class="row border-top">
        <ul class="col text-muted">
          <li>Address</li>
          <li>City</li>
          <li>Country</li>
          <li>Postcode</li>
        </ul>
        <ul class="col">
          <li>: {{ order.contact.address }}</li>
          <li>: {{ order.contact.city }}</li>
          <li>: {{ order.contact.country }}</li>
          <li>: {{ order.contact.postcode }}</li>
        </ul>
      </div>
    </div>
    <div class="col">
      <h5>Shipping Address</h5>
      <div class="row border-top">
        <ul class="col text-muted">
          <li>Street</li>
          <li>City</li>
          <li>Country</li>
          <li>Postcode</li>
        </ul>
        <ul class="col">
          <li>: {{ order.contact.address }}</li>
          <li>: {{ order.contact.city }}</li>
          <li>: {{ order.contact.country }}</li>
          <li>: {{ order.contact.postcode }}</li>
        </ul>
      </div>
    </div>
  </div>
  <div class="my-5 bg-light p-4">
    <h5 class="font-weight-bold mb-4">Order Details</h5>
    <div class="table-responsive">
      <table class="table table-borderless">
        <thead>
          <tr>
            <th scope="col">Product</th>
            <th scope="col">Quantity</th>
            <th scope="col">Total</th>
          </tr>
        </thead>
        <tbody>
          <tr *ngFor="let item of order.items">
            <td>
              <p>{{ item.item.brand }}</p>
            </td>
            <td>x 0{{ item.quantity }}</td>
            <td>{{ item.item.price + item.quantity | currency: "USD" }}</td>
          </tr>

          <tr>
            <td>
              <h6 class="font-weight-bold">Total</h6>
            </td>
            <td>
              <h6></h6>
            </td>
            <td>
              <p>$2210.00</p>
            </td>
          </tr>
        </tbody>
      </table>
    </div>
  </div>
</div>
