#img-product-detail {
  width: 100%;
  height: 400px;
  object-fit: contain;
}
#img-item {
  width: 70px;
  height: 40px;
  object-fit: contain;
}
.content-left div:hover {
  cursor: pointer;
}
.product-details {
  white-space: break-spaces;
  line-height: 2;
}

@media screen and (max-width: 576px) {
  #img-item {
    width: 40px;
    height: 20px;
    object-fit: contain;
  }
}
@media screen and (max-width: 992px) {
  #img-item {
    width: 70px;
    height: 40px;
    object-fit: contain;
  }
}
