.detailProductImg {
  max-width: 100%;
  height: 400px;
  object-fit: contain;
}
#icon-product > i {
  background-color: #828bb2;
  width: 2em;
  text-align: center;
  line-height: 2em;
  border-radius: 0.8em;
}
#icon-product i:hover {
  background-color: rgb(255, 168, 0);
  cursor: pointer;
}
#img-product-detail {
  width: 500px;
  height: 400px;
}
