<div class="container-xl" *ngIf="detailProduct">
  <div class="detail-product row">
    <div class="col-lg-6 col-12 p-5">
      <div class="content-left">
        <div class="picsum-img-wrapper p-3">
          <img [src]="imgcontainer" class="mx-auto" id="img-product-detail" />
        </div>
        <div class="row mt-4">
          <div
            class="col-2"
            *ngFor="let img of detailProduct.images_list; let i = index"
            (click)="clickImg(img, i)"
          >
            <div *ngIf="i < 5">
              <div class="item-img mr-1" *ngIf="i == imgcurrent">
                <img
                  [src]="img"
                  class="mx-auto border border-primary rounded"
                  id="img-item"
                />
              </div>
              <div *ngIf="i != imgcurrent" class="mr-1">
                <img [src]="img" class="mx-auto" id="img-item" />
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="col-lg-6 col-12 p-5">
      <h3>{{ detailProduct.brand }}</h3>
      <h2 class="text-warning text-uppercase">
        {{ detailProduct.price | currency: "USD" }}
      </h2>
      <p>
        <span class="d-inline-block">Material:</span>
        <span class="text-primary pl-2">{{
          detailProduct.features[0]["Outer Material"]
        }}</span>
      </p>
      <hr />
      <p class="product-details">
        {{ detailProduct.product_details }}
      </p>
      <div
        id="icon-product"
        (click)="cartService.addItem(detailProduct)"
        *ngIf="
          cartService.getQuantityItem(detailProduct.id) === 0;
          else updateQuantity
        "
      >
        <button
          class="btn bg-primary gradient text-capitalize text-white px-4"
          (click)="cartService.addItem(detailProduct)"
        >
          add to card
        </button>
      </div>
      <ng-template #updateQuantity>
        <div class="border rounded" style="width: fit-content">
          <button
            (click)="cartService.remove(detailProduct)"
            class="btn border-right px-2"
          >
            <i class="fas fa-minus"></i>
          </button>
          <span class="px-3">{{
            cartService.getQuantityItem(detailProduct.id)
          }}</span>
          <button
            (click)="cartService.addItem(detailProduct)"
            class="btn border-left px-2"
          >
            <i class="fas fa-plus"></i>
          </button>
        </div>
      </ng-template>
    </div>
  </div>
</div>
