<div class="container-xl" *ngIf="detailProduct">
  <div class="detail-product row">
    <div class="col-lg-6 col-12 p-5">
      <div class="content-left">
        <div class="picsum-img-wrapper p-3">
          <img [src]="imgcontainer" class="mx-auto" id="img-product-detail" />
        </div>
        <div class="row mt-4">
          <div
            class="col-2"
            *ngFor="let img of detailProduct.images_list; let i = index"
            (click)="clickImg(img, i)"
          >
            <div *ngIf="i < 5">
              <div class="item-img" *ngIf="i == imgcurrent">
                <img [src]="img" class="mx-auto" id="img-item" />
              </div>
              <div *ngIf="i != imgcurrent">
                <img [src]="img" class="mx-auto" id="img-item" />
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="col-lg-6 col-12 p-5">
      <h3>{{ detailProduct.brand }}</h3>
      <h2 class="text-warning">
        {{ detailProduct.price | currency: "USD" }}
      </h2>
      <p>
        <span class="d-inline-block w-15">Material</span>
        <span class="text-primary"
          >:{{ detailProduct.features[0]["Outer Material"] }}</span
        >
      </p>
      <hr />
      <p class="product-details">
        {{ detailProduct.product_details }}
      </p>
      <div class="my-3" id="icon-product">
        <button
          class="btn bg-primary gradient text-capitalize text-white px-4"
          (click)="addItem(detailProduct)"
        >
          add to card
        </button>
      </div>
    </div>
  </div>
</div>
