.signin-container {
  background: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)),
    url("../../../assets/img/xlogin.jpg.pagespeed.ic.zfMN09dS8Y.webp");
  background-repeat: no-repeat;
  background-size: cover;
  height: 700px;
  width: 600px;
}
button:disabled,
button[disabled] {
  background: linear-gradient(rgba(0, 0, 0, 0.2), rgba(0, 0, 0, 0.2)),
    linear-gradient(90deg, #ffba00 0%, #ff6c00 100%);
}
