<div class="row container-xl mx-auto m-50 my-50">
  <div class="col signin-container d-flex align-items-center">
    <div class="container mx-auto text-center text-white sign-in">
      <h3>New to our website?</h3>
      <p>
        There are advances being made in science and technology everyday, and a
        good example of this is the
      </p>
      <button class="bg-primary px-4 py-2 border-0 text-white rounded">
        {{ "Create an account" | uppercase }}
      </button>
    </div>
  </div>
  <div class="col d-flex align-items-center px-3 shadow">
    <div class="w-100 text-center">
      <h6 class="mb-4 font-weight-bold">{{ "Log in to enter" | uppercase }}</h6>
      <form>
        <mat-form-field class="w-75 mt-2">
          <mat-label>User Name</mat-label>
          <input matInput type="text" />
        </mat-form-field>
        <mat-form-field class="w-75 mt-2">
          <mat-label>Password</mat-label>
          <input matInput placeholder="password" type="password" />
        </mat-form-field>
        <div class="form-group form-check mt-2">
          <input type="checkbox" class="form-check-input mr-2" />
          <label class="form-check-label">Keep me log in</label>
        </div>
        <button
          class="bg-primary px-4 py-2 border-0 text-white w-75 mt-2 rounded"
        >
          Log In
        </button>
      </form>
    </div>
  </div>
</div>
