<div class="px-3">
  <div routerLink="/productDetail/{{ item['id'] }}">
    <img [src]="item.images_list[0]" alt="" class="imgproduct" />
    <h6 class="text-uppercase mt-3" id="title1">
      {{ item.title | textcustom: numberCharater }}
    </h6>
    <div class="price text-secondary font-weight-bold">
      <span>{{ item.price }}</span>
      <span *ngIf="!item.price">£161.63 - £202.04</span>
    </div>
  </div>
  <div class="my-4" id="icon-product">
    <i class="fas fa-briefcase mx-2 rounded-circle" (click)="addItem()"></i>
    <i class="fas fa-heart mx-2 rounded-circle"></i>
    <i class="fas fa-info mx-2 rounded-circle"></i>
  </div>
</div>
