// product
.cost {
  text-decoration: line-through;
}
.icon-product > i {
  width: 2em;
  text-align: center;
  line-height: 2em;
  border-radius: 0.8em; /* or 50% width & line-height */
}
.icon-product > i:hover {
  background-color: rgb(255, 168, 0);
  cursor: pointer;
}
.imgproduct {
  width: 100%;
  height: 200px;
  object-fit: contain;
}
