<div class="jumbotron template-driven text-center w-50 my-5 mx-auto border p-5">
  <h3>Sigup</h3>
  <hr />
  <form [formGroup]="createAccount">
    <!-- name -->
    <div class="form-group row">
      <div class="col-3">
        <label class="float-left form-label font-weight-bold">Name</label>
      </div>
      <div class="col-9">
        <input
          type="text"
          class="form-control"
          placeholder="Your Name"
          formControlName="name"
          [ngClass]="{ 'is-invalid': name.errors && name.touched }"
        />
        <div class="invalid-feedback text-left pt-2">Please provide name</div>
      </div>
    </div>
    <!-- email -->
    <div class="form-group row">
      <div class="col-3">
        <label class="float-left form-label font-weight-bold"
          >Your E-mail</label
        >
      </div>
      <div class="col-9">
        <input
          type="email"
          class="form-control"
          placeholder="Your Email"
          formControlName="email"
          [ngClass]="{ 'is-invalid': email.errors && email.touched }"
          (blur)="onBlur()"
        />
        <div class="invalid-feedback text-left pt-2">
          <p *ngIf="email.errors.required">Please provide email</p>
          <p *ngIf="email.errors.pattern">Email is not valid</p>
        </div>
      </div>
    </div>
    <!-- password -->
    <div class="form-group row">
      <div class="col-3">
        <label class="float-left form-label font-weight-bold">Password</label>
      </div>
      <div class="col-9">
        <input
          type="password"
          class="form-control"
          placeholder="Password"
          formControlName="password"
          [ngClass]="{ 'is-invalid': password.errors && password.touched }"
        />
        <div class="invalid-feedback text-left pt-2">
          <p *ngIf="password.errors.required">Please provide password</p>
          <p *ngIf="password.errors.pattern">Password is not password</p>
        </div>
      </div>
    </div>
    <div class="form-group row">
      <div class="col-3">
        <label class="float-left form-label font-weight-bold"
          >Password Confirm</label
        >
      </div>
      <div class="col-9">
        <input
          type="password"
          class="form-control"
          placeholder="Password Confirm"
          formControlName="passwordConfirm"
          [ngClass]="{
            'is-invalid': passwordConfirm.errors && passwordConfirm.touched
          }"
        />
        <div class="invalid-feedback text-left pt-2">
          <p *ngIf="passwordConfirm.errors.required">
            Please provide password confirm
          </p>
          <p *ngIf="passwordConfirm.errors.pattern">
            Password is not password confirm
          </p>
        </div>
      </div>
    </div>
    <button
      class="btn btn-primary float-right"
      [disabled]="f.invalid"
      (click)="submit()"
    >
      Submit
    </button>
  </form>
</div>
