h2 {
  font-size: 16px;
  font-weight: normal;
  background: #e8f0f2;
  line-height: 40px !important;
  padding-left: 30px;
  margin-bottom: 0px;
}
button:disabled,
button[disabled] {
  background: linear-gradient(rgba(0, 0, 0, 0.2), rgba(0, 0, 0, 0.2)),
    linear-gradient(90deg, #ffba00 0%, #ff6c00 100%);
}
