<div class="container">
  <div *ngIf="authService.isLogin()">
    <div class="row mt-4">
      <div class="col-8 p-0">
        <div class="row bg-light align-items-center">
          <h2 class="w-100">
            Have a coupon?
            <a class="text-danger" style="text-decoration: underline"
              >Click here to enter your code</a
            >
          </h2>
        </div>
        <div class="row">
          <div class="col-6 mt-4">
            <form [formGroup]="checkoutForm">
              <input
                type="text"
                class="form-control"
                placeholder="Enter coupon code"
                formControlName="coupon"
              />
            </form>
          </div>
          <div class="col-12 mt-4">
            <button
              class="btn bg-white border px-5 rounded-0 font-weight-bold"
              (click)="applyCoupon()"
            >
              APPLY COUPON
            </button>
          </div>
        </div>
        <h5 class="border-bottom w-100 p-2">Billing Details</h5>
        <div class="mt-4 px-5">
          <p>
            <span>{{ user.lastName }}</span>
            <span class="">{{ user.name }}</span>
          </p>
          <p>Shipping Address: {{ user.location }}</p>
          <p>Phone: {{ user.phone }}</p>
          <a class="text-link">Change shipping address</a>
        </div>
        <h5 class="border-bottom w-100 p-2 mt-4">Shipping Details</h5>
        <div class="form-group mt-4">
          <textarea
            class="form-control"
            rows="5"
            placeholder="Order Notes"
          ></textarea>
        </div>
      </div>
      <div class="col bg-light p-4 ml-4">
        <h5 class="border-bottom w-100 p-4">Shipping Details</h5>
        <table class="table table-borderless text-muted">
          <thead>
            <tr>
              <th scope="col">Product</th>
              <th scope="col"></th>
              <th scope="col">Total</th>
            </tr>
          </thead>
          <tbody>
            <tr *ngFor="let p of cartService.getCart()">
              <td>{{ p.item.brand }}</td>
              <td>{{ p.quantity }}</td>
              <td>{{ p.item.price + p.quantity | currency: "USD" }}</td>
            </tr>
          </tbody>
          <thead class="border-top">
            <tr>
              <th scope="col">SUBTOTAL</th>
              <th scope="col"></th>
              <th scope="col">
                {{ cartService.getTotalPrice() | currency: "USD" }}
              </th>
            </tr>
            <tr>
              <th scope="col">SHIPPING</th>
              <th scope="col"></th>
              <th scope="col">
                {{ cartService.deliveryfee | currency: "USD" }}
              </th>
            </tr>
            <tr *ngIf="checkCoupon">
              <th scope="col">COUPON</th>
              <th scope="col"></th>
              <th scope="col">-{{ valueCoupon | currency: "USD" }}</th>
            </tr>
            <tr>
              <th scope="col">TOTAL</th>
              <th scope="col"></th>
              <th scope="col">
                {{
                  cartService.deliveryfee +
                    cartService.getTotalPrice() -
                    valueCoupon | currency: "USD"
                }}
              </th>
            </tr>
          </thead>
        </table>
        <div class="custom-control custom-radio custom-control-inline">
          <label class="custom-control-label font-weight-bold"
            >CHECK PAYMENT</label
          >
          <input
            type="radio"
            name="customRadioInline"
            class="custom-control-input"
          />
        </div>
        <div class="bg-white p-4 mt-4">
          <p class="text-muted p-0 m-0">
            Please send a check to Store Name, Store Street, Store Town, Store
            State / County, Store Postcode.
          </p>
        </div>
        <div class="row mt-4">
          <div class="col">
            <div class="custom-control custom-radio custom-control-inline">
              <label class="custom-control-label font-weight-bold"
                >PAYPAL</label
              >
              <input
                type="radio"
                name="customRadioInline"
                class="custom-control-input"
              />
            </div>
          </div>
          <div class="col">
            <img src="../../../assets/img/paypal.webp" alt="" />
          </div>
        </div>
        <div class="bg-white p-4 mt-4">
          <p class="text-muted p-0 m-0">
            Pay via PayPal; you can pay with your credit card if you don’t have
            a PayPal account.
          </p>
        </div>
        <div class="form-check mt-4">
          <input type="checkbox" class="form-check-input" />
          <label class="form-check-label"
            ><p class="text-muted p-0 m-0">I’ve read and accept the</p>
            <p class="text-danger p-0 m-0">terms & conditions*</p></label
          >
        </div>
        <button
          class="bg-primary gradient w-100 border-0 rounded mt-4 py-2 text-white font-weight-bold"
          (click)="pay()"
        >
          PROCEED TO PAYPAL
        </button>
      </div>
    </div>
  </div>
</div>
