<div>
  <!-- background-img -->
  <ngb-carousel *ngIf="images">
    <ng-template ngbSlide>
      <div class="picsum-img-wrapper">
        <img src="../../../../assets/img/slide4.webp" id="img-slide" />
      </div>
    </ng-template>
    <ng-template ngbSlide>
      <div class="picsum-img-wrapper">
        <img src="../../../../assets/img/slide3.webp" id="img-slide" />
      </div>
    </ng-template>
    <ng-template ngbSlide>
      <div class="picsum-img-wrapper">
        <video
          id="img-slide"
          loop=""
          muted=""
          autoplay=""
          class="promo-background-video-desktop hide-for-small-only"
        >
          <source
            src="https://media.jdsports.com/v/jdsports/JD_GA_050922_OzweegoLilDurkMay1213x600/mp4_720p"
            type="video/mp4"
          />
        </video>
      </div>
    </ng-template>
    <ng-template ngbSlide>
      <div class="picsum-img-wrapper">
        <video
          id="img-slide"
          autoplay=""
          loop=""
          playsinline=""
          poster="https://image.hsv-tech.io/1920x0/reebok/common/57802899-4063-49a1-ae13-016a5e73029f.webp"
          style="object-fit: cover; height: 100%; width: 100%"
        >
          <source
            datasrc="https://video.hsv-tech.io/reebok/common/7294ea91-2942-48a0-95a4-ca364919c122.mp4"
            data-src="https://video.hsv-tech.io/reebok/common/7294ea91-2942-48a0-95a4-ca364919c122.mp4"
            type="video/mp4"
            src="https://video.hsv-tech.io/reebok/common/7294ea91-2942-48a0-95a4-ca364919c122.mp4"
          />
        </video>
      </div>
    </ng-template>
  </ngb-carousel>
</div>
<div class="container-xl">
  <!-- layout2 -->
  <div class="row mx-auto text-center margin-100">
    <div class="col-md-3 col-6 my-md-0 my-3">
      <p><i class="fas fa-truck"></i></p>
      <h5>Free Delivery</h5>
      <p>Free ship on all order</p>
    </div>
    <div class="col-md-3 col-6 my-md-0 my-3">
      <p><i class="fas fa-sync"></i></p>
      <h5>Return Policy</h5>
      <p>Free ship on all order</p>
    </div>
    <div class="col-md-3 col-6 my-md-0 my-3">
      <p><i class="fas fa-headset"></i></p>
      <h5>24/7 Support</h5>
      <p>Free ship on all order</p>
    </div>
    <div class="col-md-3 col-6 my-md-0 my-3">
      <p><i class="fas fa-database"></i></p>
      <h5>Secure Payment</h5>
      <p>Free ship on all order</p>
    </div>
  </div>
  <!-- deals -->
  <div class="row flash-sale margin-100">
    <div class="col-md-9 col-12">
      <div class="row">
        <div class="col-md-9 col-12">
          <img src="../../../../assets/img/layout-3-img1.webp" alt="" />
        </div>
        <div class="col-md-3 d-md-block d-none">
          <img src="../../../../assets/img/layout-3-img-2.webp" alt="" />
        </div>
      </div>
      <div class="row mt-3">
        <div class="col-md-3 d-md-block d-none">
          <img src="../../../../assets/img/layout-3-img-3.webp" alt="" />
        </div>
        <div class="col-md-9 col-12">
          <img src="../../../../assets/img/layout-3-img-4.webp" alt="" />
        </div>
      </div>
    </div>
    <div class="col-md-3 d-md-block d-none">
      <img src="../../../../assets/img/layout-3-img-5.webp" alt="" />
    </div>
  </div>
  <app-shoes-container></app-shoes-container>
  <app-deal-week></app-deal-week>
</div>
